@model Category

<form asp-controller="Category" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label class="form-label">Category Name</label>
        <input asp-for="CategoryName" type="text" class="form-control">
    </div>

    <button class="btn btn-success"> Submit </button>

</form>